html, body{
	background-image: url("wallpaper5.jpg");
	background-size: cover;
	background-color: #f0e68c;
}

body {
	height: 100%;
	margin: 0;
	width: 100%;
	color: white;
}
}
h1 {
	text-align: center;
	font-family: Palatino, 'Palatino Linotype', serif;
	color: rgb(121,149,117);
	font-size: 56px;
}

nav li{
	padding: 20px;
	display: inline;
}

.contact-btn {
  float: left;
  color: grey;
}

.contact-btn a {
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #204156;

}

.contact-btn a:active {
  position: relative;
  bottom: 2px;
}
